[MASTER]
load-plugins=pylint_fastapi_plugin

[MESSAGES CONTROL]
# Enable FastAPI-specific rules
enable=fastapi

# Disable some noisy rules if needed
disable=missing-module-docstring,
        too-few-public-methods,
        too-many-positional-arguments,
        too-many-arguments,
        too-many-locals,
        broad-exception-caught,
        redefined-builtin

[FORMAT]
max-line-length=120

[REPORTS]
output-format=colorized